__pycache__
*.pyc

skeleton_visualize.py
src.zip
test_code.py
exp_log
net/aimclr_swap.py
net/att_drop.py
net/cpm.py
net/crossclr_3views.py
net/st_gcn_ntu.py
net/st_gcn_swap.py
work_dir/
Readme.md
config/ntu120
config/pkummd
config/gcn_ntu60/pretext_attempt
config/transformer_ntu60/ntu120
net/aimclr.py
config/gcn_ntu60/
config/ntu120/
config/pkummd/
config/transformer_ntu60/
run_pkup1.sh
processor/knn_eval.py